#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# 15.91 CM

param select parameters.bson
param import

param set-default SYS_AUTOCONFIG 0
param set-default SYS_AUTOSTART 4001
param set-default MAV_TYPE 2

param set-default BAT1_V_DIV 11
param set-default BAT1_N_CELLS 3

param set-default CBRK_SUPPLY_CHK 894281

param set-default COM_CPU_MAX -1

param set-default EKF2_EN 1
param set-default ATT_EN 0
param set-default SYS_HAS_BARO 1
param set-default SYS_HAS_MAG 1
param set-default SYS_HAS_GPS 0

param set-default COM_FLTMODE1 8
param set-default COM_FLTMODE2 8
param set-default COM_FLTMODE3 8
param set-default COM_FLTMODE4 8
param set-default COM_FLTMODE5 8
param set-default COM_FLTMODE6 8
param set-default COM_DISARM_PRFLT -1

param set-default SDLOG_MODE 0
param set-default SDLOG_PROFILE 859

param set-default MC_BAT_SCALE_EN 1

param set-default PCA9685_SCHD_HZ 400
param set-default PCA9685_PWM_FREQ 400

# Only when first start
param reset_all

dataman start
# load_mon start
battery_status start

# IMU
icm42688p start -s -c 0

# ADC
ads1115 start -I -a 0x48

# Baro
icp201xx start -I -a 0x63

# Mag
bmm150 start -I -a 0x10

# PWM
pca9685_pwm_out start -b 3 -a 0x40
control_allocator start

rc_input start -d /dev/ttyS7

rc_update start
manual_control start
sensors start
commander start
navigator start
# attitude_estimator_q start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start

mavlink start -x -u 14550 -r 1000000 -p -n wlan0
mavlink start -x -u 14551 -r 1000000 -t 127.0.0.1:14551

logger start -t -b 200

mavlink boot_complete
