#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# 15.91 CM

param select parameters.bson
param import

param set SYS_AUTOCONFIG 0
param set SYS_AUTOSTART 4001
param set MAV_TYPE 2

param set BAT1_V_DIV 5.7
param set BAT1_N_CELLS 3

param set CBRK_SUPPLY_CHK 894281

param set COM_CPU_MAX -1

param set EKF2_EN 0
param set ATT_EN 1
param set SYS_HAS_BARO 0
param set SYS_HAS_MAG 0
param set SYS_HAS_GPS 0

param set COM_FLTMODE1 8
param set COM_FLTMODE2 8
param set COM_FLTMODE3 8
param set COM_FLTMODE4 8
param set COM_FLTMODE5 8
param set COM_FLTMODE6 8
param set COM_DISARM_PRFLT -1

param set SDLOG_MODE 0

param set IMU_GYRO_FFT_EN 1
param set IMU_GYRO_DNF_EN 1

dataman start
# load_mon start
battery_status start

# IMU
icm42688p start -s -c 0
icm42688p start -s -c 1

# ADC
ads1115 start -I

# PWM
pca9685_pwm_out start -b 3
control_allocator start

rc_input start -d /dev/ttyS7

rc_update start
manual_control start
sensors start
commander start
attitude_estimator_q start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start

mavlink start -x -u 14556 -r 1000000 -p

logger start -t -b 200

mavlink boot_complete
