#############################################################################
param select parameters.bson
param import
param set-default SYS_AUTOCONFIG 0
param set-default SYS_AUTOSTART 4001
param set-default MAV_TYPE 2
param set-default BAT1_V_DIV 11
param set-default BAT1_N_CELLS 3
param set-default CBRK_SUPPLY_CHK 894281
param set-default COM_CPU_MAX -1
param set-default EKF2_EN 1
param set-default ATT_EN 0
param set-default SYS_HAS_BARO 1
param set-default SYS_HAS_MAG 1
param set-default SYS_HAS_GPS 0
param set-default COM_FLTMODE1 8
param set-default COM_FLTMODE2 8
param set-default COM_FLTMODE3 8
param set-default COM_FLTMODE4 8
param set-default COM_FLTMODE5 8
param set-default COM_FLTMODE6 8
param set-default COM_DISARM_PRFLT -1
param set-default SDLOG_MODE 0
param set-default SDLOG_PROFILE 859
param set-default MC_BAT_SCALE_EN 1
param set-default PCA9685_SCHD_HZ 400
param set-default PCA9685_PWM_FREQ 400
param set-default MPC_MAN_TILT_MAX 20
param set-default MPC_TILTMAX_AIR 20
param set-default MC_PITCHRATE_MAX 60
param set-default MC_ROLLRATE_MAX 60
param set-default MC_YAWRATE_MAX 60
param reset_all

dataman start
battery_status start
icm42688p start -s -c 0
ads1115 start -I -a 0x48
icp201xx start -I -a 0x63
bmm150 start -I -a 0x10
pca9685_pwm_out start -b 3 -a 0x40
control_allocator start
rc_input start -d /dev/ttyS7
rc_update start
manual_control start
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start
mavlink start -x -u 14556 -r 1000000 -t 169.254.234.80 -o 14550
logger start -t -b 200
mavlink boot_complete

###########################################################################
bin/px4-param --instance 0 select parameters.bson &
bin/px4-param --instance 0 import &
bin/px4-param --instance 0 set-default SYS_AUTOCONFIG 0 &
bin/px4-param --instance 0 set-default SYS_AUTOSTART 4001 &
bin/px4-param --instance 0 set-default MAV_TYPE 2 &
bin/px4-param --instance 0 set-default BAT1_V_DIV 11 &
bin/px4-param --instance 0 set-default BAT1_N_CELLS 3 &
bin/px4-param --instance 0 set-default CBRK_SUPPLY_CHK 894281 &
bin/px4-param --instance 0 set-default COM_CPU_MAX -1 &
bin/px4-param --instance 0 set-default EKF2_EN 1 &
bin/px4-param --instance 0 set-default ATT_EN 0 &
bin/px4-param --instance 0 set-default SYS_HAS_BARO 1 &
bin/px4-param --instance 0 set-default SYS_HAS_MAG 1 &
bin/px4-param --instance 0 set-default SYS_HAS_GPS 0 &
bin/px4-param --instance 0 set-default COM_FLTMODE1 8 &
bin/px4-param --instance 0 set-default COM_FLTMODE2 8 &
bin/px4-param --instance 0 set-default COM_FLTMODE3 8 &
bin/px4-param --instance 0 set-default COM_FLTMODE4 8 &
bin/px4-param --instance 0 set-default COM_FLTMODE5 8 &
bin/px4-param --instance 0 set-default COM_FLTMODE6 8 &
bin/px4-param --instance 0 set-default COM_DISARM_PRFLT -1 &
bin/px4-param --instance 0 set-default SDLOG_MODE 0 &
bin/px4-param --instance 0 set-default SDLOG_PROFILE 859 &
bin/px4-param --instance 0 set-default MC_BAT_SCALE_EN 1 &
bin/px4-param --instance 0 set-default PCA9685_SCHD_HZ 400 &
bin/px4-param --instance 0 set-default PCA9685_PWM_FREQ 400 &

bin/px4-dataman --instance 0 start &
bin/px4-battery_status --instance 0 start &
bin/px4-icm42688p --instance 0 start -s -c 0 &
bin/px4-ads1115 --instance 0 start -I -a 0x48 &
bin/px4-icp201xx --instance 0 start -I -a 0x63 &
bin/px4-bmm150 --instance 0 start -I -a 0x10 &
bin/px4-pca9685_pwm_out --instance 0 start -b 3 -a 0x40 &
bin/px4-control_allocator --instance 0 start &
bin/px4-rc_input --instance 0 start -d /dev/ttyS7 &
bin/px4-rc_update --instance 0 start &
bin/px4-manual_control --instance 0 start &
bin/px4-sensors --instance 0 start &
bin/px4-commander --instance 0 start &
bin/px4-navigator --instance 0 start &
bin/px4-ekf2 --instance 0 start &
bin/px4-land_detector --instance 0 start multicopter &
bin/px4-mc_hover_thrust_estimator --instance 0 start &
bin/px4-flight_mode_manager --instance 0 start &
bin/px4-mc_pos_control --instance 0 start &
bin/px4-mc_att_control --instance 0 start &
bin/px4-mc_rate_control --instance 0 start &
bin/px4-mavlink --instance 0 start -x -u 14556 -r 1000000 -t 169.254.234.80 -o 14550 &
bin/px4-logger --instance 0 start -t -b 200 &
bin/px4-mavlink --instance 0 boot_complete &
