bin/px4-param select parameters.bson
bin/px4-param import
bin/px4-param set-default SYS_AUTOCONFIG 0
bin/px4-param set-default SYS_AUTOSTART 4001
bin/px4-param set-default MAV_TYPE 2
bin/px4-param set-default BAT1_V_DIV 11
bin/px4-param set-default BAT1_N_CELLS 3
bin/px4-param set-default CBRK_SUPPLY_CHK 894281
bin/px4-param set-default COM_CPU_MAX -1
bin/px4-param set-default EKF2_EN 1
bin/px4-param set-default ATT_EN 0
bin/px4-param set-default SYS_HAS_BARO 1
bin/px4-param set-default SYS_HAS_MAG 1
bin/px4-param set-default SYS_HAS_GPS 0
bin/px4-param set-default COM_FLTMODE1 8
bin/px4-param set-default COM_FLTMODE2 8
bin/px4-param set-default COM_FLTMODE3 8
bin/px4-param set-default COM_FLTMODE4 8
bin/px4-param set-default COM_FLTMODE5 8
bin/px4-param set-default COM_FLTMODE6 8
bin/px4-param set-default COM_DISARM_PRFLT -1
bin/px4-param set-default SDLOG_MODE 0
bin/px4-param set-default SDLOG_PROFILE 859
bin/px4-param set-default MC_BAT_SCALE_EN 1
bin/px4-param set-default PCA9685_SCHD_HZ 200
bin/px4-param set-default PCA9685_PWM_FREQ 200
bin/px4-param set-default MPC_MAN_TILT_MAX 20
bin/px4-param set-default MPC_TILTMAX_AIR 20
bin/px4-param set-default MC_PITCHRATE_MAX 60
bin/px4-param set-default MC_ROLLRATE_MAX 60
bin/px4-param set-default MC_YAWRATE_MAX 60
bin/px4-param reset all

bin/px4-dataman start
bin/px4-battery_status start
bin/px4-icm42688p start -s -c 0
bin/px4-ads1115 start -I -a 0x48
sleep 1
bin/px4-icp201xx start -I -a 0x63
sleep 1
bin/px4-bmm150 start -I -a 0x10
bin/px4-pca9685_pwm_out start -b 3 -a 0x40
bin/px4-control_allocator start
bin/px4-rc_input start -d /dev/ttyS7
bin/px4-rc_update start
bin/px4-manual_control start
bin/px4-sensors start
bin/px4-commander start
bin/px4-navigator start
bin/px4-ekf2 start
bin/px4-land_detector start multicopter
bin/px4-mc_hover_thrust_estimator start
bin/px4-flight_mode_manager start
bin/px4-mc_pos_control start
bin/px4-mc_att_control start
bin/px4-mc_rate_control start
bin/px4-mavlink start -x -u 14556 -r 1000000 -t 169.254.234.80 -o 14550
bin/px4-logger start -t -b 200
bin/px4-mavlink boot_complete

